<!DOCTYPE html>
<html>
<head>
  <title>Lookup wordnet</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body  >
    <form action="/lookup/" method=post name="lookupwordform"  id="lookupwordform"  >
    {% csrf_token %}
    {{form}}
    <div class='container' style="border-style: solid;border-color: black;    border-width: 2px;"> 

        <div class='row' style="background-color:white;font-color:red;border-style: solid;border-color: black;    border-width: 1px;"> The word is <big> <em>{{word}}</em></big>. </div>
        {% for rel,values in details.items %}
        <div class='row'> 
            <div class='.col-md-4' style="background-color:white; ">
                <b>{{rel}}</b>
            </div>
            <div class='.col-md-4' style="background-color:yellow;">                
                {% for value in values %}
                <a href="javascript: linkwithword('{{value}}')">{{value}}</a>
                    
                {% endfor %}
            </div>
        </div>
        <div class='row' style="border-style: solid;border-color: white;    border-width: 5px;">
        </div>
        {% endfor %}
    </div>
    </form>
    <script>
    function linkwithword(link)
    {
        document.getElementById('id_word').value=link
        document.lookupwordform.submit();

    }
</script>
  </body>

</html>


